In [27]:
print("hello world from Jupyter!")

hello world from Jupyter!

In [28]:
import time
time.sleep(4)

In [29]:
def say_hello(name): 
    return 'Hello, {}'.format(name)

In [30]:
say_hello('Blade')

'Hello, Blade'

In [31]:
num1 = 10
num2 = 7

In [32]:
x = num1 - num2
print(x)

3

# This is heading 1
## This is heading 2
**This is bold text** or __This is also bold text__
*This is italic* or _This is also italic_
you can also create lists:
* item 1 in bullets 
* item 2 in bullets
you can also create number lists:
1. item 1 in numeric list
2. item 2 in numeric list 

[this is a link to TLU website](http://www.tlu.edu)

In [33]:
import numpy as np
def square(x):
    return x*x

In [34]:
x = np.random.randint(1,10)
y = square(x)
print('%d squared is: %d' % (x,y))

1 squared is: 1